<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chororo</title>
    <link rel="stylesheet" th:href="@{/css/chororo.css}">
</head>
<body>
<header>
    <a th:href="@{/}">Voltar</a>
</header>

<div class="video-container">
    <iframe src="https://www.youtube.com/embed/yMnZTwmspjM?autoplay=1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>
</body>
</html>
